aiohttp==3.6.2
aiohttp-devtools==0.13.1
async-timeout==3.0.1
attrs==19.3.0
certifi==2020.4.5.1
chardet==3.0.4
click==7.1.2
devtools==0.6
idna==2.9
multidict==4.7.6
OCC==7.4.0rc1
pyaml==20.4.0
Pygments==2.7.1
PyYAML==5.3.1
redis==3.5.3
six==1.12.0
watchgod==0.6
yarl==1.4.2
